<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.4/semantic.min.css">
	<style type="text/css">
	body {
		text-align: center;
		padding-top: 200px;
	}
	</style>
</head>
<body>
	<div class="three column row">
		<div class="column"></div>
		<div class="column">
			<a class="ui facebook button" href="/login">
				<i class="facebook icon"></i>
				Login with Facebook
			</a>
		</div>
		<div class="column"></div>
	</div>
</body>
</html>

